@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

tbody{
  padding-bottom: 30%;
}
body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 1000px;
}

h1 {
  font-size: small;
  letter-spacing: 1px;
  margin: 0;
}

h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;

}

h3 {
  font-size: small;
  margin: 40px 0 10px;
}

h4 {
  font-size: small;
  margin: 0;
  text-transform: uppercase;
  font-size: medium;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 200px;
  font-size: medium;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.money {
  font-size: medium;
  letter-spacing: 1px;
  margin: 5px 0;
}

.plus {
  color: #2ecc71;
}

.minus {
  color: #c0392b;
}

label {
  font-size: small;
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: small;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li {
  font-size: x-small;
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  
}

.divTable{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
  width: 1000px;
  height: 250px;
  margin: 10px 0;
}

th {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  font-size: x-small;
}

td {
  text-align: center;
  font-size: x-small;

}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.transaction-box:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 1024px) and (min-width: 768px) and (min-height: 768px) and (max-height:1024px){
  .container {
    width: 340px;
  }
  .inc-exp-container {
    width: 100px;
    font-size: 7px;
    text-align: center;
    height: 7vh;
    padding: 3%;

  }
  table {
    width: 230px;
    height: 165px;
  }
  th {
    font-size: 3.1px;
  }
  td {
    font-size: 3.1px;
  }
  .list li{
    font-size:3.1px;
  }
  .delete-btn {
    transform: translate(-150%, -10%);
  }
  h1 {
    font-size: 8px;
  }
  h2{
    font-size: 10px;
  }
  h3 {
    font-size: 8px;
  }
  h4 {
    font-size: 7px;
  }
  input[type='text'],
  input[type='number'] {
    font-size: 8px;
  }
  label {
    font-size: 8px;
  } 
}

@media (max-width: 480px) {
  .container {
    width: 340px;
  }
  .inc-exp-container {
    width: 100px;
    font-size: 7px;
    text-align: center;
    height: 7vh;
    padding: 3%;

  }
  table {
    width: 230px;
    height: 165px;
  }
  th {
    font-size: 3.1px;
  }
  td {
    font-size: 3.1px;
  }
  .list li{
    font-size:3.1px;
  }
  .delete-btn {
    transform: translate(-150%, -10%);
  }
  h1 {
    font-size: 8px;
  }
  h2{
    font-size: 10px;
  }
  h3 {
    font-size: 8px;
  }
  h4 {
    font-size: 7px;
  }
  input[type='text'],
  input[type='number'] {
    font-size: 8px;
  }
  label {
    font-size: 8px;
  }
}